<h3>JS文件</h3>

<div class="pageblock">
  <h5>{{title}}<a href="#" id="create_js_btn" class="btn btn-inverse btn-sm"><span class="fui-plus"></span> 新建JS</a></h5>
  <div id="jslist">
      <table class="table table-striped table-hover table-vam">
    <thead>
      <tr>
        <th>文件名</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>大小</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {{#each jsPage}}
      <tr>
        <td><strong>{{filename}}</strong></td>
        <td>{{showTime ctime}}</td>
        <td>{{showTime mtime}}</td>
        <td>{{showFileSize size}}</td>
        <td>
          <a href="/preview/{{tslink path}}" target="_blank" class="btn 
          btn-primary btn-sm"><span class="fui-eye"></span> 预览</a>
          {{!-- <a href="/codeview?path={{path}}" target="_blank" disabled="disabled" class="btn btn-success btn-sm"><span class="fui-document"></span> 源代码</a> --}}
          {{!-- <a href="javascript:;" data-filepath="{{path}}" class="btn btn-danger btn-sm delete_js_btn"><span class="fui-cross"></span> 删除</a> --}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
</div>

<div class="modal fade" id="create_js_template">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">新建js页</h4>
        </div>
        <form action="" id="create_js_form">
          <div class="modal-body">

            <div class="form-group">
              <label class="control-label" for="js_name">js文件名 <span class="required">*</span> <span class="glyphicon glyphicon-info-sign"  data-toggle="tooltip" data-placement="right" data-original-title="只能使用英文数字和下划线减号做文件名"></span></label>
              <input class="form-control" id="js_name" type="text" pattern="[A-z0-9_-]+" required>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary submitbtn">确定</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{{#extend "bodybottom"}}
<script src="/js/page_js.js"></script>
{{/extend}}